body {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

h2 {
    font-family: 'Montserrat-Black', sans-serif;
}

/* TITLE-SECTION */

#title {
    background-color: #db3f3b;
}

.navbar-brand {
    font-family: 'Ubuntu', sans-serif;
}

.container-fluid {
    position: relative;
}

.left-header {
    text-align: left;
    padding: 4% 6% 0% 6%;
}

.buttons {
    margin-top: 70px;
    margin-bottom: 50px;
}

.btn-outline-light {
    margin: 20px;
}

#head {
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    font-weight: 900;
    font-size: 5rem;
    line-height: 1.5;
    z-index: -1;
}

.iphone {
    padding: 0% 10% 0% 10%;
    position: relative;
}

.mockup-phone {
    transform: rotate(25deg);
    position: absolute;
    right: 250px;
}

/* FEATURES-SECTION */

#features {
    background-color: #fff;
    padding: 100px;
    font-family: 'Ubuntu', sans-serif;
    position: relative;
    z-index: 1;
}

.features-items {
    margin: 30px auto;
    z-index: 1;
}

.fa-5x {
    color: #db3f3b;
}

.fa-5x:hover {
    color: #b53633;
}

.features-heading {
    margin-top: 30px;
}

/* TESTIMONIALS-SECTION */

#testimonials {
    background-color: #db3f3b;
    color: #fff;
}

.carousel-item {
    padding: 3% 10%;
}

.testimonial-image {
    border-radius: 50%;
    height: 15%;
    width: 15%;
    margin: 30px;
}

.testimonial-text {
    font-weight: 700;
    font-size: 3rem;
    line-height: 1.5;
    margin-bottom: 30px;
}

/* PRESS-SECTION */

#press {
    background-color: #db3f3b;
}

.press-items {
    margin: 30px auto;
}

.press-images {
    width: 55%;
}

/* PRICING-SECTION */

#pricing {
    padding: 3% 10%;
}

.pricing-heading {
    font-weight: 700;
    font-size: 3rem;
    line-height: 1.5;
    margin-bottom: 30px;
}

.card-button {
    width: 100%;
}

/* CALL-TO-ACTION-CTA-SECTION */

#cta {
    background-color: #db3f3b;
    padding: 5% 20% 10%;
}

.cta-h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 4rem;
    font-weight: 700;
    color: #fff;
    padding: 1%;
}

/* FOOTER-SECTION */

#footer {
    background-color: #fff;
    padding: 5% 5% 2%;
}

.fa-2x {
    margin: 20px;
}

/* CSS @media QUERIES */

@media (max-width: 1220px){

    .cta-h3 {
        font-size: 2rem;
    }
    .left-header {
        text-align: center;
    }
    .mockup-phone {
        text-align: center;
        transform: rotate(0deg);
        position: static;
    }
}
